<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container">

<h2 th:text="#{user.update}"></h2>
<h3 th:text="${user.username}"></h3>
<div class="container">
		<form th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post">

			<div class="alert alert-danger" th:if="${error}">There was an
				error</div>
				
			
			<div class="form-group">
				
				<label class="control-label col-sm-2" for="role" th:text="#{role}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="role" th:text="${user.role}" />
				</div>
		

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" th:text="#{send}">Enviar</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>