<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />

<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<nav th:replace="fragments/nav"></nav>
	<h2 th:text="#{documents}"></h2>
	<div class="container my-2">
	
	<form action="/document/load" method="post">
		<input type="text" name="uri"></input>
		<button type="submit" th:text="#{send}"></button>
		<div th:replace="fragments/FileInput"></div>

	</form>
	
		<h2 th:text="${title}"></h2>
		<pre id="target" th:text="${text}"></pre>
	</div>



</body>
</html>